@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color:#D6D6D6;
      font-family: "Montserrat", sans-serif;
}

.main__header {
    background-color: #EDEDED;
    display: flex;
    height: 200px;
    padding: 50px 5px 100px 100px;
    

}
#logo{
    gap: 30px;
    display: flex;
    align-items: center;
    font-size: 40pt;
    font-weight: bold;
    color: #627324;
}
#symbol {
    width: 70px;
    height: 70px;
}

#custom__meal {
    margin: 30px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    color: #324001;
}

#custom__meal #txt__span{
    color: #627324;
}

.tray__info {
    margin-top: 50px;
    font-size: 25px;
    color:#324001;
}

#total__calories {
    margin: 5px 5px 10px 0px;
}


#total__price {
    margin: 5px 5px 10px 0px;
}

#food__tray {

    width: 850px;
    height: 250px;
    background-color: #D9D9D9;
    border-radius: 55px;
    margin-left: 50px;
    display: flex;
    overflow-x: auto;
    flex-wrap: wrap;
    
}

.plate__ingredient {
    width: 165px;
    height: 100px;
    margin: 30px 0 15px 30px;
    position: relative;

}
.ingredient__img {
    width: 165px;
    height: 100px;
    border-radius: 30px;
    box-shadow: -3px 5px 5px 1px rgb(133, 133, 133);
    position: relative;
}

.fa-xmark {
    position: absolute;
    cursor: pointer;
}


/*-----Proteins------*/

.pro__container {
    margin: 80px;
    font-size: 26pt;
    font-weight: bold;
    color: #324001;
    
}

#pro__adds {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}



.pro__img{
    height: 150px;
    width: 250px;
    border-radius: 30px;
    box-shadow: -3px 5px 5px 1px rgb(133, 133, 133);
    cursor: pointer;
}

.pro__img:hover{
    background-color: bisque;
}





/*-----Carbs------*/

.carb__container {
    margin: 80px;
    font-size: 26pt;
    font-weight: bold;
    color: #324001;
    
}

#carb__adds {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}



.carb__img{
    height: 150px;
    width: 250px;
    border-radius: 30px;
    box-shadow: -3px 5px 5px 1px rgb(133, 133, 133);
    cursor: pointer;
}

.carb__img:hover{
    background-color: bisque;
}




/*-----Veggies------*/

.vegg__container {
    margin: 80px;
    font-size: 26pt;
    font-weight: bold;
    color: #324001;
    
}

#vegg__adds {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}



.vegg__img{
    height: 150px;
    width: 250px;
    border-radius: 30px;
    box-shadow: -3px 5px 5px 1px rgb(133, 133, 133);
    cursor: pointer;
}

.vegg__img:hover{
    background-color: bisque;
}



/*--------------------------------------------------*/

.name {
    color:#627324;
    font-size:15pt;
    justify-content: space-between;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.id {
    color:#627324;
    font-size: 10pt;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}



